.skills {
  .skills__container {

    h2 {
      font-weight: 400;
      margin-bottom: 4px;
    }

    .skills__flex {
      display: flex;

      img {
        width: auto;
        object-fit: cover;
        cursor: pointer;
        margin-right: 8px;
        transition: 0.2s;

        &:hover {
          -webkit-transform: scale(1.08, 1.08);
          transform: scale(1.08, 1.08);
          -webkit-transition: 0.3s;
          transition: 0.3s;
        }
      }
    }
  }

  .skills__container.selected {
    margin-bottom: 2.5rem;

    h2 {
      display: none;
    }
  }

  .skills__card {

    .skills__flex {
      display: flex;

      img {
        width: auto;
        object-fit: cover;
        margin-right: 15px;
      }

      .skills__card__content {
        p.skills__card__title {
          font-size: 1.5rem;
        }

        p.skills__card__text {
          margin-top: 10px;
        }
      }

      .skills__card__close {
        margin-left: 15px;
        cursor: pointer;
      }
    }
  }
}