.card {
  background-color: #222;
  padding: 15px;
  margin: 10px;
  border-radius: 6px;
  height: 80px;
  line-height: 50px;
  box-shadow: inset;
  text-align: center;

  p {
    color: #efefef;
    font-size: 18px;
  }
}